* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

body {
  font-family: "Roboto";
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  background-color: #605957;
}

.header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header__sub-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px;
}

.header__text-wrapper {
  text-align: center;
}

.header__title {
  color: #fff;
  font-size: 54px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
}

.button {
  display: inline-block;
  padding: 13px 21px;
  border-radius: 30px;
  background-color: #a05b4e;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.6000000238px;
  text-align: center;
  -webkit-transition-property: color, background-color;
  -o-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button:hover,
.button:focus,
.button:active {
  cursor: pointer;
  background: #60362e;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
}

.navbar nav {
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.menu__items-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 30px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__item-link {
  color: #1a1818;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.6000000238px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.5s color;
  -o-transition: 0.5s color;
  transition: 0.5s color;
}

.menu__item-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  background: #131418;
  height: 1px;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  -o-transition: 0.5s transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}

.menu__item-link:hover {
  color: #131418;
}

.menu__item-link:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
}

.store {
  padding: 50px 30px 100px 30px;
}

.store__title {
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a1818;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.store__items-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.store__items-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
}

.store__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 700px;
}

.store__item:hover {
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: black;
          box-shadow: black;
  box-shadow: 2px 6px 24px 0px #a05b4e;
  -webkit-box-shadow: 2px 6px 24px 0px #a05b4e;
  -moz-box-shadow: 2px 6px 24px 0px #a05b4e;
  scale: 1.1;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.image__container {
  max-width: 100%;
  height: auto;
  aspect-ratio: 263/328;
}

.item__color-scheme-wrapper {
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  right: 0;
  padding: 19px;
  gap: 6px;
}

.item__color-scheme-wrapper img {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
}

.item__bage {
  position: absolute;
  top: 0;
  left: 0;
  margin: 18px;
  display: inline-block;
  padding: 5px 9px;
  border-radius: 30px;
  color: #1a1818;
  border: 1px solid #1a1818;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.6000000238px;
  text-align: center;
}

.item__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15%;
  padding-left: 10px;
  padding-top: 5px;
}

.item__title,
.item__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a1818;
}

.cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card img {
  height: auto;
  max-width: 100%;
}

.card__left-side {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.card__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: inherit;
}

.card__inside-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__title {
  font-size: 54px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a1818;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.card__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a1818;
  margin-bottom: 40px;
}

.card_first {
  text-align: center !important;
}

.adwords__container {
  padding: 0;
}

.adwords__inner-container {
  padding-top: 100px;
}

.adwords__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 34px 30px;
  height: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/adwordsBackground.jpeg");
  background-position: center;
}

.adwords__title {
  font-size: 49px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 1.0800000429px;
  text-align: left;
  color: #fff;
}

.adwords__description {
  margin-top: 13px;
  margin-bottom: 27px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.ticker {
  position: relative;
  padding: 40px 0;
}

.ticker__list {
  position: absolute;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: text 15s infinite linear;
          animation: text 15s infinite linear;
}

.ticker__element {
  padding: 0 40px;
}

.ticker__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.6000000238px;
  text-align: left;
  color: #1a1818;
  white-space: nowrap;
  text-transform: uppercase;
}

@-webkit-keyframes text {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-160%, 0);
            transform: translate(-160%, 0);
  }
}

@keyframes text {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-160%, 0);
            transform: translate(-160%, 0);
  }
}

.footer__cards-container {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.footer__card {
  position: relative;
}

.footer__img {
  width: 100%;
  height: auto;
  height: 100%;
}

.footer__inner-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  padding: 30px 40px;
}

.footer__card-title {
  font-size: 53px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 1.0800000429px;
  text-align: left;
  color: #fff;
  margin-bottom: 25px;
}

.footer__main {
  background: #a05b4e;
}

.footer__inside-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6000000238px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.footer__subtitle {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin-top: 47px;
}

.footer__empty-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 493px;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #f1f1de;
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 112px;
}

.footer__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  border-top: 1px solid #fff;
}

.footer__copyright,
.footer__cookies,
.footer__signature {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.6000000238px;
  text-align: left;
}

.contacts__wrapper {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: Roboto;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__more {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 1063.98px) {
  .item__color-scheme-wrapper {
    padding: 10px;
  }

  .item__bage {
    margin: 10px;
    font-size: 10px;
    padding: 3px 7px;
  }

  .footer__card-title {
    font-size: 30px;
    line-height: 31px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    gap: 0;
  }

  .menu__items-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu {
    position: fixed;
    background: #fefefe;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }

  .burger.active:before {
    background: #131418;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active:after {
    background: #131418;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fefefe;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #fefefe;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .store__items-columns {
    grid-template-columns: 1fr;
  }

  .card__title {
    font-size: 30px;
    line-height: 30px;
  }

  .card__description {
    font-size: 17px;
    line-height: 15px;
  }

  .footer__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .header__sub-block {
    padding: 90px;
  }

  .header__title {
    font-size: 30px;
    line-height: 32px;
  }

  .button {
    padding: 10px 18px;
    font-size: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .navbar {
    padding: 20px 0;
  }

  .store__title {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
  }

  .store__items-wrapper {
    gap: 20px;
  }

  .cards__wrapper {
    gap: 50px;
  }

  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 10px;
  }

  .card img {
    margin: 0 auto;
  }

  .card__inner-wrapper div {
    text-align: center;
  }

  .card__title {
    text-align: center;
  }

  .card__description {
    text-align: center;
  }

  .adwords__inner-container {
    padding-top: 50px;
  }

  .ticker {
    padding: 15px 0;
  }

  .ticker__list {
    bottom: 13px;
  }

  .footer__cards-container {
    grid-template-columns: 1fr;
    padding-bottom: 50px;
  }

  .footer__subtitle {
    font-size: 15px;
    line-height: 20px;
    padding: 0 10px;
  }

  .footer__empty-button {
    margin-bottom: 106px;
  }

  .contacts__wrapper {
    margin-top: 100px;
  }
}

@media screen and (max-width: 500px) {
  .adwords__wrapper {
    height: 500px;
  }

  .adwords__title {
    font-size: 25px;
    line-height: 30px;
  }

  .adwords__description {
    font-size: 15px;
  }
}

@media screen and (max-width: 490px) {
  .item__color-scheme-wrapper img {
    width: 10px;
    height: 10px;
  }

  .item__bage {
    display: none;
  }
}

@media screen and (max-width: 485px) {
  .store__title {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .header__sub-block {
    padding: 10px;
  }
}

@media screen and (max-width: 479.98px) {
  .item__text-container {
    padding-right: 5%;
  }

  .item__title,
  .item__price {
    font-size: 10px;
  }

  .footer__card-title {
    font-size: 25px;
    line-height: 25px;
  }

  .footer__empty-button {
    margin-bottom: 53px;
    width: 70%;
  }

  .footer__more {
    padding: 20px 10px;
  }

  .footer__copyright,
  .footer__cookies,
  .footer__signature {
    font-size: 7px;
    line-height: 9px;
  }
}

@media screen and (max-width: 414px) {
  .store__title {
    font-size: 13px;
    line-height: 13px;
  }
}